<nav
  class="fixed top-6 left-1/2 -translate-x-1/2 bg-white/70 backdrop-blur-lg shadow-lg rounded-2xl z-50 px-5 py-2"
>
  <div class="flex items-center space-x-6">
    <div class="pr-6">
      <img
        src="assets\image\logo_brand-removebg-preview.png"
        class="w-10 h-10 object-contain"
      />
    </div>
    <ul class="flex space-x-6 text-black font-medium">
      <li>
        <a
          href="#hero"
          class="relative hover:text-black after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-2px] after:h-[2px] after:w-0 after:bg-[#f2ca4b] after:transition-all after:duration-300 hover:after:w-full"
        >
          Home
        </a>
      </li>
      <li>
        <a
          href="#about"
          class="relative after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-2px] after:h-[2px] after:w-0 after:bg-[#f2ca4b] after:transition-all after:duration-300 hover:after:w-full"
        >
          About
        </a>
      </li>
      <li>
        <a
          href="#services"
          class="relative after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-2px] after:h-[2px] after:w-0 after:bg-[#f2ca4b] after:transition-all after:duration-300 hover:after:w-full"
        >
          Services
        </a>
      </li>
      <li>
        <a
          href="#contact"
          class="relative after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-2px] after:h-[2px] after:w-0 after:bg-[#f2ca4b] after:transition-all after:duration-300 hover:after:w-full"
        >
          Contact
        </a>
      </li>
    </ul>

    <div class="flex items-center gap-4 overflow-hidden">
      <!-- Login -->
      <a
        id="loginLink"
        href="pages/login.html"
        class="text-black font-medium transition-all duration-500 ease-out"
      >
        Log in
      </a>

      <!-- Animate Join -->
      <div
        id="joinWrapper"
        class="overflow-hidden w-0 transition-all duration-500 ease-out"
      >
        <a
          id="joinBtn"
          href="#join"
          class="flex items-center justify-center px-6 py-2 bg-black text-white rounded-full font-medium whitespace-nowrap"
        >
          Join for free
        </a>
      </div>
    </div>
  </div>
</nav>
