<nav
  class="fixed top-6 left-1/2 -translate-x-1/2 bg-white/70 backdrop-blur-lg shadow-lg rounded-2xl z-50 px-5 py-2 w-[460px]"
>
  <div class="flex items-center gap-6">
    <!-- Logo -->
    <a href="#hero-section" class="flex-shrink-0">
      <img
        src="assets/image/logo_brand-removebg-preview.png"
        class="w-10 h-10 object-contain"
      />
    </a>

    <!-- Spacer -->
    <div class="flex-1"></div>

    <div class="flex items-center gap-6 overflow-hidden">
      <!-- Services -->
      <a
        href="#service-section"
        class="relative text-black font-medium after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-2px] after:h-[2px] after:w-0 after:bg-[#f2ca4b] after:transition-all after:duration-300 hover:after:w-full"
      >
        Layanan
      </a>

      <!-- Login -->
      <a
        id="loginLink"
        href="pages/login.html"
        class="relative text-black font-medium whitespace-nowrap after:content-[''] after:absolute after:left-1/2 after:-translate-x-1/2 after:bottom-[-2px] after:h-[2px] after:w-0 after:bg-[#f2ca4b] after:transition-all after:duration-300 hover:after:w-full"
      >
        Masuk
      </a>

      <!-- Animate Join -->
      <div
        id="joinWrapper"
        class="overflow-hidden w-0 transition-all duration-500 ease-out"
      >
        <a
          id="joinBtn"
          href="#join"
          class="flex items-center justify-center px-6 py-2 bg-black text-white rounded-full font-medium whitespace-nowrap ml-2 font-['Poppins']"
        >
          Mulai gratis
        </a>
      </div>
    </div>
  </div>
</nav>
