<section class="relative h-[200vh]">
  <div
    class="sticky top-0 h-screen flex flex-col justify-center items-center gap-6 overflow-hidden"
  >
    <!-- Breathing circles -->
    <div
      class="absolute w-[500px] h-[500px] border border-2 border-gray-400 rounded-full bg-blue-50 -z-10 animate-breathe"
    ></div>

    <div
      class="absolute w-[400px] h-[400px] border border-2 border-gray-300 rounded-full bg-yellow-50 -z-10 animate-breathe"
      style="animation-delay: 0.5s"
    ></div>

    <!-- Floating ambient glows -->
    <div
      class="absolute top-1/4 left-10 w-40 h-40 bg-yellow-400/50 rounded-full blur-3xl pointer-events-none -z-10"
    ></div>
    <div
      class="absolute bottom-1/4 right-10 w-40 h-40 bg-blue-400/50 rounded-full blur-3xl pointer-events-none -z-10"
    ></div>
    <div
      class="absolute bottom-1/4 left-1/3 w-30 h-50 bg-blue-400/50 rounded-full blur-3xl pointer-events-none -z-10"
    ></div>

    <p
      class="step text-xl text-gray-500 opacity-0 translate-y-10 transition-all duration-700 font-[Poppins]"
    >
      Terkadang Kita Perlu Untuk Berhenti Sejenak
    </p>

    <h1
      class="step text-5xl font-bold opacity-0 translate-y-10 transition-all duration-700 font-[Poppins]"
    >
      Tarik napas sebentar...
    </h1>

    <h1
      class="step text-5xl font-bold opacity-0 translate-y-10 transition-all duration-700 font-[Poppins]"
    >
      Kamu tidak perlu menghadapi semuanya sendiri
    </h1>

    <h1
      class="step text-5xl font-bold opacity-0 translate-y-10 transition-all duration-700 font-[Poppins]"
    >
      Kami ada untuk menemanimu
    </h1>
  </div>
</section>
