<section class="min-h-screen flex items-center pt-20 px-6">
    <div class="max-w-7xl mx-auto">
        <div class="text-center mb-12 max-w-4xl mx-auto">
        <h2
            class="text-3xl md:text-4xl font-bold font-[Poppins] text-gray-900 mb-4"
        >
            Gak Perlu Memendam Semuanya Sendirian
        </h2>
        <p class="text-xl text-gray-500 leading-relaxed">
            Bingung mau cerita ke mana? Di sini kamu bisa curhat sama AI, baca
            buku, atau ngobrol sama psikolog beneran. Yuk, pilih bantuan yang
            kamu butuhin sekarang.
        </p>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
        <div
            class="relative group transition-all duration-300 hover:-translate-y-2 mt-8"
        >
            <img
            src="assets\image\cloud (1).png"
            class="absolute -top-14 left-1/2 -translate-x-1/2 w-28 h-28 z-20 drop-shadow-xl"
            />
            <div
            class="relative h-full overflow-hidden flex flex-col items-center text-center bg-black/5 backdrop-blur-md rounded-3xl p-8 shadow-sm hover:shadow-xl border border-white/30"
            >
            <div
                class="absolute top-1/4 left-10 w-32 h-32 bg-yellow-400/30 rounded-full blur-3xl pointer-events-none -z-10"
            ></div>
            <div
                class="absolute bottom-1 right-4 w-40 h-40 bg-blue-400/30 rounded-full blur-3xl pointer-events-none -z-10"
            ></div>
            <div class="relative z-10 flex flex-col items-center mt-6">
                <h3 class="text-xl font-bold font-[Poppins] text-slate-900 mb-3">
                Teman Ngobrol 24/7
                </h3>

                <p class="text-gray-500 mb-6 leading-relaxed font-medium font-[Poppins]">
                Lagi butuh teman cerita tengah malam? Yuk, luapkan unek-unekmu
                di sini. Gratis, rahasia, dan pastinya bebas curhat apa saja.
                </p>

                <a
                href="#"
                class="inline-flex items-center text-white font-bold bg-black px-4 py-2 rounded-full font-[Poppins]"
                >
                Curhat Sekarang
                </a>
            </div>
            </div>
        </div>

        <div
            class="relative group transition-all duration-300 hover:-translate-y-2 mt-8"
        >
            <img
            src="assets\image\cloud (2).png"
            class="absolute -top-14 left-1/2 -translate-x-1/2 w-28 h-28 z-20 drop-shadow-xl"
            />
            <div
            class="relative h-full overflow-hidden flex flex-col items-center text-center  bg-black/5 backdrop-blur-md rounded-3xl p-8 shadow-sm hover:shadow-xl border border-white/30"
            >
            <div
                class="absolute top-1/4 left-10 w-32 h-32 bg-yellow-400/30 rounded-full blur-3xl pointer-events-none -z-10"
            ></div>
            <div
                class="absolute bottom-1 right-4 w-40 h-40 bg-blue-400/30 rounded-full blur-3xl pointer-events-none -z-10"
            ></div>
            <div class="relative z-10 flex flex-col items-center mt-6">
                <h3 class="text-xl font-bold font-[Poppins] text-gray-900 mb-3">
                Temukan Titik Terang
                </h3>

                <p class="text-gray-500 mb-6 leading-relaxed font-medium font-[Poppins]">
                Masalah terasa berat? Bicarakan langsung dengan Psikolog &
                Psikiater terverifikasi. Penanganan tepat, hati lebih tenang.
                </p>

                <a
                href="#"
                class="inline-flex items-center text-white font-bold bg-black px-4 py-2 rounded-full font-[Poppins]"
                >
                Konsultasi Ahli
                </a>
            </div>
            </div>
        </div>

        <div
            class="relative group transition-all duration-300 hover:-translate-y-2 mt-8"
        >
            <img
            src="assets\image\cloud.png"
            class="absolute -top-14 left-1/2 -translate-x-1/2 w-28 h-28 z-20 drop-shadow-xl"
            />
            <div
            class="relative h-full overflow-hidden flex flex-col items-center text-center bg-black/5 backdrop-blur-md rounded-3xl p-8 shadow-sm hover:shadow-xl border border-white/30"
            >
            <div
                class="absolute top-1/4 left-10 w-32 h-32 bg-yellow-400/30 rounded-full blur-3xl pointer-events-none -z-10"
            ></div>
            <div
                class="absolute bottom-1 right-4 w-40 h-40 bg-blue-400/30 rounded-full blur-3xl pointer-events-none -z-10"
            ></div>
            <div class="relative z-10 flex flex-col items-center mt-6">
                <h3 class="text-xl font-bold font-[Poppins] text-gray-900 mb-3">
                Perpus Psikologi  
                </h3>

                <p class="text-gray-500 mb-6 leading-relaxed font-medium font-[Poppins]">
                Pahami dirimu lebih dalam lewat koleksi E-book & Jurnal Psikologi. Akses gratis untuk bahan bacaan berkualitas.
                </p>

                <a
                href="#"
                class="inline-flex items-center text-white font-bold bg-black px-4 py-2 rounded-full font-[Poppins]"
                >
                Lihat E-Book
                </a>
            </div>
            </div>
        </div>
    </div>
</section>