<section
  class="relative h-[120vh] overflow-hidden flex flex-col items-center justify-center gap-14"
>
  <div
    id="shape"
    class="absolute top-0 left-1/2 z-0"
    style="
      transform: translateX(-50%) scale(var(--scale, 0.3));
      transform-origin: center top;
      transition: transform 0.1s ease-out;
      will-change: transform;
      width: 50vw;
      height: 50vw;
    "
  >
    <!-- Container shape-->
    <div class="relative w-full h-full rounded-full bg-white"></div>
  </div>

  <!-- header -->
  <div class="relative z-10 pt-0 text-center">
    <h1 class="text-4xl pt-[220px] font-bold font-[Poppins] text-gray-900">
      Ada banyak warna kepribadian, yang mana milikmu?
    </h1>
  </div>
  <!-- marquee cloud -->
  <div
    class="relative z-10 w-full overflow-hidden [mask-image:linear-gradient(to_right,transparent,black_20%,black_90%,transparent)]"
  >
    <div class="cloud-track">
      <div class="cloud-group">
        <img src="assets/image/cloud.png" class="cloud" />
        <img src="assets/image/cloud (1).png" class="cloud" />
        <img src="assets/image/cloud (2).png" class="cloud" />
        <img src="assets/image/cloud (3).png" class="cloud" />
        <img src="assets/image/cloud (4).png" class="cloud" />
        <img src="assets/image/cloud (5).png" class="cloud" />
        <img src="assets/image/cloud (6).png" class="cloud" />
        <img src="assets/image/cloud (7).png" class="cloud" />
      </div>

      <div class="cloud-group">
        <img src="assets/image/cloud.png" class="cloud" />
        <img src="assets/image/cloud (1).png" class="cloud" />
        <img src="assets/image/cloud (2).png" class="cloud" />
        <img src="assets/image/cloud (3).png" class="cloud" />
        <img src="assets/image/cloud (4).png" class="cloud" />
        <img src="assets/image/cloud (5).png" class="cloud" />
        <img src="assets/image/cloud (6).png" class="cloud" />
        <img src="assets/image/cloud (7).png" class="cloud" />
      </div>
    </div>
    <div class="cloud-track reverse mt-10">
      <div class="cloud-group">
        <img src="assets/image/cloud (8).png" class="cloud" />
        <img src="assets/image/cloud (9).png" class="cloud" />
        <img src="assets/image/cloud (10).png" class="cloud" />
        <img src="assets/image/cloud (11).png" class="cloud" />
        <img src="assets/image/cloud (12).png" class="cloud" />
        <img src="assets/image/cloud (13).png" class="cloud" />
        <img src="assets/image/cloud (14).png" class="cloud" />
        <img src="assets/image/cloud (15).png" class="cloud" />
      </div>

      <div class="cloud-group">
        <img src="assets/image/cloud (8).png" class="cloud" />
        <img src="assets/image/cloud (9).png" class="cloud" />
        <img src="assets/image/cloud (10).png" class="cloud" />
        <img src="assets/image/cloud (11).png" class="cloud" />
        <img src="assets/image/cloud (12).png" class="cloud" />
        <img src="assets/image/cloud (13).png" class="cloud" />
        <img src="assets/image/cloud (14).png" class="cloud" />
        <img src="assets/image/cloud (15).png" class="cloud" />
      </div>
    </div>
  </div>

  <button
    class="px-6 py-3 bg-black text-white rounded-full font-medium shadow-lg transition transform hover:scale-105 font-[Poppins] z-10"
  >
    Mulai Test MBTI
  </button>
</section>
