body {
  font-family: sans-serif;
  background-color: #f8f8f8;
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}

.cloud-float {
  position: absolute;
  animation: float ease-in-out infinite;
  opacity: 1;
}
