body {
  font-family: sans-serif;
  background-color: #1a1a1a;
}

html {
  scroll-behavior: smooth;
  /* scroll-snap-type: y mandatory; */
  overflow-y: scroll;
  height: 100vh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Hide scrollbar chrome/safari/opera */
html::-webkit-scrollbar {
  display: none;
}

@keyframes float {
  0%,
  100% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
}

.cloud-float {
  position: absolute;
  animation: float ease-in-out infinite;
  opacity: 1;
}

.cloud-floating-upDown {
  animation: floatingCloud 3s ease-in-out infinite;
}

/* Animasi floating untuk awan di about section */
@keyframes floatingCloud {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}

/* Animasi Marquee */
.cloud-track {
  display: flex;
  width: max-content;
  animation: cloud-marquee-left 50s linear infinite;
  will-change: transform;
}

.cloud-track.reverse {
  animation: cloud-marquee-right 50s linear infinite;
}

.cloud-group {
  display: flex;
  width: 100vw;
  align-items: center;
  gap: 70px;
  padding-inline: 120px;
  box-sizing: border-box;
}

.cloud {
  height: 100px;
  width: 120px;
  object-fit: contain;
  flex-shrink: 0;
  opacity: 0.9;
  filter: blur(0.3px);
  pointer-events: none;
}

/* Marquee Kiri */
@keyframes cloud-marquee-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* Marquee kanan */
@keyframes cloud-marquee-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes breathe {
  0%,
  100% {
    transform: scale(0.8);
    opacity: 0.3;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.1;
  }
}
.animate-breathe {
  animation: breathe 5s ease-in-out infinite;
}

/* Card Stack */
.card-stack {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
}
